/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

:root {
    --transparent: transparent;
    --black: #22292f;
    --white: white;
    --white-50: rgba(255, 255, 255, 0.5);
    --danger: #e74444;
    --success: #21b978;
    --warning: #ffeb3b;
    --info: #03a9f4;
    --primary: #4099de;
    --primary-dark: #297ec0;
    --primary-70: rgba(64, 153, 222, 0.7);
    --primary-50: rgba(64, 153, 222, 0.5);
    --primary-30: rgba(64, 153, 222, 0.3);
    --primary-10: rgba(64, 153, 222, 0.1);
    --logo: #252d37;
    --sidebar-icon: #b3c1d1;
    --20: #f6fbff;
    --30: #f4f7fa;
    --40: #eef1f4;
    --50: #e3e7eb;
    --60: #bacad6;
    --70: #b3b9bf;
    --80: #7c858e;
    --90: #252d37;
    --90-half: rgba(40, 54, 61, 0.5);
}


/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;
a{
    text-decoration: none;
}
/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
