/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

:root {
    --transparent: transparent;
    --black: #22292f;
    --white: white;
    --white-50: rgba(255, 255, 255, 0.5);
    --danger: #e74444;
    --success: #21b978;
    --warning: #ffeb3b;
    --info: #03a9f4;
    --primary: #4099de;
    --primary-dark: #297ec0;
    --primary-70: rgba(64, 153, 222, 0.7);
    --primary-50: rgba(64, 153, 222, 0.5);
    --primary-30: rgba(64, 153, 222, 0.3);
    --primary-10: rgba(64, 153, 222, 0.1);
    --logo: #252d37;
    --sidebar-icon: #b3c1d1;
    --20: #f6fbff;
    --30: #f4f7fa;
    --40: #eef1f4;
    --50: #e3e7eb;
    --60: #bacad6;
    --70: #b3b9bf;
    --80: #7c858e;
    --90: #252d37;
    --90-half: rgba(40, 54, 61, 0.5);
}

html {
    @apply antialiased font-sans
}
a{
    text-decoration: none;
}

.nav-link {
    @apply text-80
}
.app-side .el-menu{
    @apply h-full;
    border-right: none!important;
}

.card {
    @apply .bg-white  .rounded-lg;
}

.card-panel {
    height: 150px;
}

.card-refresh {
    @apply p-1 ml-auto text-80 inline-flex items-center;
}

.card-refresh:hover {
    @apply text-primary;
}

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.login-box-body {
    border-radius: @box-border-radius;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);
}

/* Content
---------------------------------------------------------------------------- */
.content {
    min-width: 66.25rem;
    width: 100%;
    max-width: calc(100vw - 13.75rem);
}

/* Background Image
---------------------------------------------------------------------------- */
.bg-grad-sidebar {
    background-image: linear-gradient(0deg, #7e8ea1 0%, #3c4655 100%);
}

/* Custom Padding
---------------------------------------------------------------------------- */

.pt-header {
    padding-top: 5.75rem;
}

.p-sidebar {
    padding-left: 13.75rem;
}

/* Inline Links
---------------------------------------------------------------------------- */

.inline-link {
    @apply .text-primary .text-sm .font-bold .no-underline;
}

.inline-separator {
    @apply .text-80 .px-1;
}

/* Sidebar
---------------------------------------------------------------------------- */
.sidebar{
    font-size: 15px;
    border-right: none;
    position: fixed;
    z-index: 10;
    margin:0;
    top:3.6rem;
    left: 0;
    bottom: 0;
    box-sizing:border-box;
    overflow-y: auto;
}
.sidebar-link {
}

.router-link-active {
    @apply font-extrabold !important;
}

.sidebar-icon {
    @apply mr-3;
    width: 1.25rem;
    height: 1.25rem;
}

/* Fade Transition
---------------------------------------------------------------------------- */

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.15s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

/* Default Hover/Active
---------------------------------------------------------------------------- */

.default-hover:hover,
.default-hover:focus {
    opacity: 0.5;
}

.default-active:active {
    opacity: 0.8;
}

/* Dim links
---------------------------------------------------------------------------- */

.dim:hover,
.dim:active {
    opacity: 0.5;
}

.dim:active {
    opacity: 0.8;
}

/*.dim-child {
    &:hover .dim-target,
    &:focus .dim-target {
        opacity: 0.5;
    }

    &:active .dim-target {
        opacity: 0.8;
    }
}
*/

/* Reveal Helper
---------------------------------------------------------------------------- */

.reveal .reveal-target {
    opacity: 0;
}

.reveal:active .reveal-target,
.reveal:hover .reveal-target {
    opacity: 1;
}

/* Help Text
---------------------------------------------------------------------------- */
.help-text {
    @apply text-xs leading-normal text-80 italic;
}

.help-text a {
    @apply text-primary no-underline;
}

/* Tables
---------------------------------------------------------------------------- */
.table-fixed {
    table-layout: fixed;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table tr:hover td {
    @apply .bg-20;
}

.table th {
    @apply .bg-30 .font-bold .text-xs .text-80 .uppercase .border-b-2 .border-50 .py-3 .px-3 .tracking-wide .align-middle;
}

.table td {
    @apply .font-light .text-90 .border-t .border-b .border-50 .px-3 .align-middle;
    height: 3.8125rem;
}

.th-fit,
.td-fit {
    width: 1%;
    white-space: nowrap;
}

/* Buttons
---------------------------------------------------------------------------- */
.btn {
    @apply .inline-block .no-underline .font-bold;
}

.form-control-focus-border:focus {
    outline: none;
    box-shadow: 0 0 8px config('colors.primary');
}

.btn-text-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.btn-default {
    @apply .h-9 .px-6 .leading-36 .rounded-lg .shadow .btn-text-shadow;
}

.btn-disabled,
.btn[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.btn-disabled:focus {
    outline: none;
}

.btn-default:not([disabled]):not(.btn-disabled):focus,
.btn-default:not([disabled]):not(.btn-disabled):active {
    outline: none;
    box-shadow: 0 0 8px config('colors.primary');
}

.btn-sm {
    @apply .h-btn-sm;
}

.btn-lg {
    @apply .h-12 leading-12 text-lg;
}

.btn-link {
    @apply .bg-transparent .px-0 .py-0 .shadow-none;
    text-shadow: none;
}

.btn-link:focus,
.btn-link:active {
    outline: inherit;
    box-shadow: none;
}

.btn-primary {
    @apply .bg-primary .text-white;
}

.btn-primary:not([disabled]):not(.btn-disabled):hover {
    @apply .bg-primary-dark;
}

.btn-danger {
    @apply .bg-danger .text-white;
}

.btn-outline {
    @apply border border-2 border-primary-30% rounded px-3 text-primary font-semibold;
}

.btn-outline:hover {
    @apply border-primary;
}

.btn-icon {
    @apply px-4 flex items-center;
}

.btn-white {
    @apply bg-white;
}

.btn-icon:hover {
    @apply .opacity-75;
}

.btn-a:hover{
    background-color: var(--primary-dark);
}

.btn-cancel {
    @apply btn-default text-grey-darkest no-text-shadow bg-20;
}

.btn-cancel:not([disabled]):not(.btn-disabled):hover {
    @apply .bg-primary-dark bg-grey-lightest;
}

.no-text-shadow {
    text-shadow: none;
}

.nav-bar-left .li{

}

.form-list {
    @apply card p-6 w-full
}
.form-list .form-list__item{
    @apply border-b border-40 flex text-80
}

.form-list .form-list__item:last-child{
    @apply border-none
}

.line-limit-length {

    overflow: hidden;

    text-overflow: ellipsis;

    white-space: nowrap;

}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;
