
// Fonts
@import "fonts.css";
//@import 'bootstrap_variables';
// Variables
@import '_variables';

// Bootstrap
//@import '~admin-lte/build/bootstrap-less/bootstrap';
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.login-box-body {
  border-radius: @box-border-radius;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);
}
.box{
  border-radius:8px;
  overflow: hidden;
}
.small-box{
  border-radius: 8px;
  overflow: hidden;
}